<!DOCTYPE html>
<html>
    <head>
        <title>yoloo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/global.css" />
    </head>

    <body>
        <div class="all">    
            <div class="left">
                <div class="top">
                    <h2>Stand Departure Information</h2>
                    <div class="isi">
                        <table class="route_table">
                            <thead>
                                <tr>
                                    <th style="width: 20%">Route No.</th>
                                    <th>Location</th>
                                    <th style="width: 15%">Stand</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>81, 82, 83, 84, 85</td>
                                    <td>Perth Busport</td>
                                    <td>9 - 12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bot">
                    <div class="isi">
                        <h2>Transperth<br>Information</h2>
                        <hr>
                        <div class="0">
                            <h5>Call us</h5>
                            <div class="10">
                                <h5>
                                    Info line on 13 63 13
                                    <br>
                                    (TIS 13 14 50)
                                </h5>

                                <h5>
                                    Hearing or speech impaired?
                                    <br>
                                    Call via NRS on 133 667
                                </h5>
                                
                                <h5>
                                    Visit an InfoCentre at:
                                    <br>
                                    • Elizabeth Quay Bus Station
                                    <br>
                                    • Perth Busport
                                    <br>
                                    • Perth Station
                                    <br>
                                    • Perth Underground Station
                                </h5>
                                <h5>
                                    Got an IPhone or an Android Device?
                                    <br>
                                    Download our free app now to help you plan
                                    <br>
                                    your journey.
                                </h5>
                                <h5>
                                    Visit us online
                                    <br>
                                    transperth.wa.gov.au
                                </h5>
                            </div>
                        </div>

                </div>
            </div>

            <div class="right">
                <div class="top">
                    <h2>Bus Timetable</h2>
                    <h1>42</h1>
                    <h4>For full service details for
                        <br>
                        these routes, refer to
                        <br>
                        Timetable 43.
                    </h4>
                </div>
                <div class="bot"> 
                    <h2>
                </div>
            </div>
        </div>
    </body>
</html>