<!DOCTYPE html>
<html>
    <head>
        <title>yoloo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/global.css"/>
    </head>

    <body>
        <div class="all">    
            <div class="left">
                <div class="top">
                    <h2>Stand Departure Information</h2>
                    <div class="isi">
                        <table class="route_table">
                            <thead>
                                <tr>
                                    <th style="width: 20%">Route No.</th>
                                    <th>Location</th>
                                    <th style="width: 15%">Stand</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>81, 82, 83, 84, 85</td>
                                    <td>Perth Busport</td>
                                    <td>9 - 12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="bot">
                    <div class="isi">
                        <h2 style="color: green">Transperth<br>Information</h2>
                        <hr>
                        <h5 style="color: green; padding-top: 10px; font-weight: bolder">Call us</h5>
                        <h5 style="padding-left: 10px; padding-right: 3px; color: green; font-weight: bolder; float: left">InfoLine</h5>
                        <h5>on 13 63 13</h5>
                        <h5 style="padding-left: 10px">(TIS 13 14 50)</h5>
                        <h5 style="padding-top: 5px; padding-left: 10px; color: green; font-weight: bolder">Hearing or speech impaired?</h5>
                        <h5 style="padding-left: 10px; padding-bottom: 5px">Call via NRS on 133 667<h5>
                        <h5 style="padding-top: 5px; font-weight: bolder; color: green">Visit an InfoCentre at:</h5>
                            <div class="mangatzpat">
                                <ul style="font-size: small;">
                                    <li>Elizabeth Quay Bus Station</li>
                                    <li>Perth Busport</li>
                                    <li>Perth Station</li>
                                    <li>Perth Underground Station</li>
                                    </ul>
                            </div>
                        <h5 style="color: green; padding-bottom: 5px; font-weight: bolder">Got an IPhone or an Android Device?</h5>
                        <h5>Download our free app now to help you plan</h5>
                        <h5>your journey.</h5>
                        <h5 style="color: green; padding-top: 10px; font-weight: bolder">Visit us online</h5>
                        <h5>transperth.wa.gov.au
                        </h5>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="top">
                    <h2>Bus Timetable</h2>
                    <h1>42</h1>
                    <h4>For full service details for
                        <br>
                        these routes, refer to
                        <br>
                        Timetable 43.
                    </h4>
                </div>

                <div class="bot"> 
                    <h3>Routes</h3>
                    <hr>
                    <div class="kiri">  
                        <h1>81</h1>
                        <br>
                        <h1>82</h1>
                        <br>
                        <h1>83</h1>
                        <br>
                        <h1>84</h1>
                        <br>
                        <h1>85</h1>
                    </div>

                    <div class="tengah">
                        <h4>Perth - Wembley</h4>
                        <h4 style="font-weight: lighter">via Cambridge St</h4>
                        <br>
                        <h4>Perth - Wembley</h4>
                        <h4 style="font-weight: lighter">via Cambridge St</h4>
                        <br>
                        <h4>Perth - Wembley</h4>
                        <h4 style="font-weight: lighter">via Cambridge St</h4>
                        <br>
                        <h4>Perth - Wembley</h4>
                        <h4 style="font-weight: lighter">via Cambridge St</h4>
                        <br>
                        <h4>Perth - Wembley</h4>
                        <h4 style="font-weight: lighter">via Cambridge St</h4>
                    </div>

                    <div class="kanan">
                        <h4>icon</h4>
                        <h4>icon</h4>
                        <h4>icon</h4>
                        <h4>icon</h4>
                        <h4>icon</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
