* {
    margin: 0px;
    padding: 0px;
}

.all {
    position: relative;
    width: 800px;
    height: 580px;
    margin: 0px auto;
    font-family: 'Lato', sans-serif;
}

.left, .right {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.right {
    text-align: right;
    margin-right: 0px;
    float: right;
}

.left .top {
    position: relative;
    width: 100%;
    height: 35%;
}

.left .bot {
    position: relative;
    width: 100%;
    height: 65%;
}

.right .top {
    position: relative;
    width: 100%;
    height: 45%;
}

.right .bot {
    position: relative;
    width: 100%;
    height: 55%;
}

.isi {
    width: 95%;
    padding-left: 5%;
}

table.route_table {
    border: 1px solid #999;
    border-collapse: collapse;
    width: 100%;
}

table.route_table th {
    border: 1px solid #999;
    padding: 5px;
    text-align: left;
    background-color: #666;
    color: white;
    vertical-align: top;
}

table.route_table td {
    border: 1px solid #666;
    padding: 5px;
    vertical-align: top;
}

.left .top h2 {
    padding: 10px;
    background-color: #666;
    color: white;
    margin-bottom: 5px;
}

.left .bot hr {
    height: 2px;
    background-color: green;
    border: none;
}

.right .top h1 {
    font-size: 125px;
}

.right .top h2 {
    padding-top: 10px;
    padding-right: 0px;
    color: black;
}

.right .top h4 {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    padding-left: 8px;
    padding-right: 30px;
    font-size: 15px;
    text-align: left;
    background-color: rgb(217, 201, 248);
    border-radius: 10px;
    float: right;
}

.right .bot h3 {
    padding-left: 15%;
    padding-bottom: 5px;
    float: left;
}

h5 {
    font-weight: lighter;
}

.mangatzpat {
    padding-left: 6%;
    padding-bottom: 10px;
}

.right .bot hr {
    height: 2px; 
    background-color: rgb(120, 168, 231); 
    border: none;
    margin-left: 15%;
    width: 85%;
}

.kiri {
    text-align: left;
    padding: 4px;
    padding-left: 15%;
    width: 15%;
    position: relative;
    float: left;
}

.tengah {
    text-align: left;
    position: relative;
    float: left;
    padding-top: 6px;
    padding-left: 5px;
    width: 55%;
}

.kanan {
    padding-top: 10px;
}

.kanan h4 {
    text-align: right;
    padding-bottom: 40px;
    position: relative;
}